<app-home></app-home>

<h3 class="mt-5 mb-3">Lista de reservas</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Gmail</th>
            <th>Habitación</th>
            <th>Check In</th>
            <th>Check  Out</th>
            <th>Acciones</th>
        </tr>
    </thead>


<tbody *ngIf="reservations ;else noReservations" >
    <tr *ngFor="let reservation of reservations">
        <td>{{reservation.guestName}}</td>
        <td>{{reservation.guestEmail}}</td>
        <td>{{reservation.roomNumber}}</td>
        <td>{{reservation.checkInDate}}</td>
        <td>{{reservation.checkOutDate}}</td>
        <td>
            <button class="btn btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
            <button class="btn btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">Edit</button>
        </td>
    </tr>

</tbody>
<ng-template #noReservations>
    <tr>
        <td colspan="6" class="text-center">No reservation available</td>
    </tr>
</ng-template> 
</table>

